{% extends '_base.html.twig' %}

{# ----------------------------------------#}
{% block title %}
    page - Admin
{% endblock %}

{# ----------------------------------------#}
{% block projectsNavStyle %}current_page{% endblock %}

{# ----------------------------------------#}
{% block main %}



    <form method="post" action="/newMember">

        <p>
            ID:
            <br>
            <input type="text" name="id" value=" " required>
        </p>


        <p>
           Title:
           <br>
           <input type="text" name="title" value=" " required>
       </p>

        <p>
            Student Id:
            <br>
            <input type="text" name="studentId" value=" " required>
        </p>

        <p>
            Supervisor Id:
            <br>
            <input type="text" name="supervisorId" value=" " required>
        </p>

        <p>
            Password:
            <br>
            <input type="text" name="password" value=" " required>
        </p>

        <p>
            Project Id:
            <br>
            <input type="text" name="projectId" value=" "required>
        </p>

        <p>
            Status:
            <br>
            <input type="text" name="status" value=" "required>
        </p>

        <p>
            PastPresent:
            <br>
            <input type="text" name="pastPresent" value=" "required>
        </p>

        <p>
            Name:
            <br>
            <input type="text" name="name" value=" "required>
        </p>


        <p>


            <input type="submit"  value="Create">
        </p>







</form>







{% endblock %}
