{% extends '_base.html.twig' %}

{# ----------------------------------------#}
{% block title %}
    page - supervisor
{% endblock %}

{# ----------------------------------------#}
{% block projectsNavStyle %}current_page{% endblock %}

{# ----------------------------------------#}
{% block main %}


    <a href="/logout">logout</a>

       <p>
          You are logged in as {{ username }} ?????????
        </p>



{% endblock %}
